[submodule "models/grid-cell-rnn"]
	path = models/grid-cell-rnn
	url = https://github.com/DehongXu/grid-cell-rnn.git
[submodule "models/grid-pattern-formation"]
	path = models/grid-pattern-formation
	url = https://github.com/ganguli-lab/grid-pattern-formation.git
